.table-wrapper {
  height: 620px;
  overflow-y: scroll;
  font-size: 14px;
}

.tablestats {
  height: 57px;
  width: 110px;
  float: right;
}

.tablestats div.item {
  height: 15px;
}

.tablestats > .ui.list {
  font-size: 13px;
}
