#suggestion-input {
  padding-top: 15px;
  flex: 0 0 425px;
}

#suggestion-form {
  margin-top: 250px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

#suggestion-form input {
  width: 50px;
  height: 30px;
  font-size: 14px;
  text-align: center;
}

#suggestion-form label {
  font-size: 16px;
}
