#suggestion-chars-list {
  padding-top: 15px;
  flex: 0 0 200px;
  padding-right: 10px;
}

#suggestion-words-list {
  padding-top: 15px;
  flex: 0 0 500px;
  padding-left: 10px;
  padding-right: 20px;
}

.suggestion-item-ban {
  display: inline-block;
  margin-top: -3px;
  opacity: 0;
  width: 10%;
}

.suggestion-item-ban:hover {
  opacity: 1;
}

.suggestion-item-hide {
  display: inline-block;
  margin-top: -3px;
  opacity: 0;
  width: 10%;
}

.suggestion-item-hide:hover {
  opacity: 1;
}

.suggestion-item-chinese {
  display: inline-block;
  width: 60%;
}

.suggestion-item-favorite {
  display: inline-block;
  width: 20%;
}

.suggestion-item-favorite > i {
  cursor: pointer;
}
