
/* General rules */

body {
  display: block;
  padding-top: 59px;
  font-family: sans-serif;
  overflow: hidden;
}

.center {
  text-align: center;
}

h2 {
  text-align: center;
  height: 70px;
  padding-top: 20px;
}

#app {
  height: 100%;
}

#main-container {
  height: 100%;
}

#main-screen {
  height: 100%;
  width: 100%;
}

/* FlashMessages */

.alert {
  margin-top: 20px;
  text-align: center;
}

/* Signup & Login pages */

#login-form, #signup-form {
  padding-top: 50px;
}

/* Sidebar */

#sidebar {
  height: 100%;
  width: 210px;
  font-size: 15px;
  overflow-y: scroll;
  float: left;
}

/* TextEditor */

#text-editor {
  height: 100%;
  width: 550px;
  float: left;
}

#text-editor-form {
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;

}

#text-editor-form > textarea {
  resize: none;
  max-height: 100%;
  height: 600px;
  font-size: 16px;
}

#text-editor-save-btn {
  margin-top: 10px;
}

/* CharsArea */

#chars-area {
  float: left;
  height: 100%;
  width: 200px;
  float: left;
}

/* WordsArea */

#words-area {
  height: 100%;
  margin-left: 960px;
}
