#chars-area {
padding-top: 15px;
flex: 2 0 0;
padding-right: 10px;
}

#chars-area > table {
  margin-top: 0px;
}

#chars-list > .infos {
  height: 50px;
  margin-bottom: 10px;
}

#chars-list > .infos > .main-label {
  margin-top: 7px;
  margin-left: 47px;
  display: inline-block;
}

#chars-list > .infos > .tablestats {
  margin-top: 5px;
  height: 45px;
  width: 110px;
  padding-top: 5px;
  margin-right: 20px;
}
