#sidebar {
  padding-top: 15px;
  flex: 0 0 210px;
  background-color: black;
  display: flex;
  flex-direction: column;
  max-width: 210px;
}

#project-selector-menu {
  flex-grow: 1;
  min-height: 42px;
  max-height: 42px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

#text-items-menu {
  flex-grow: 6;
  max-width: 210px;
  max-height: 650px;
  margin-top: 0px;
  font-size: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 0px;
}

#create-text-menu {
  flex-grow: 1;
  min-height: 65px;
  max-height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#sidebar-loader {
  flex-grow: 6;
}
