#words-area {
padding-top: 15px;
flex: 0 0 305px;
padding-left: 10px;
padding-right: 20px;
}

#words-area > table {
  margin-top: 0px;
}

#words-list > .infos {
  height: 50px;
  margin-bottom: 10px;
}

#words-list > .infos > .main-label {
  margin-top: 7px;
  margin-left: 87px;
  display: inline-block;
}

#words-list > .infos > .tablestats {
  margin-top: 5px;
  height: 45px;
  width: 110px;
  padding-top: 5px;
  margin-right: 10px;
}
